// lan
$direction: 'en';
$floatLeft: left;
$floatRight:right;
$textLeft:left;
$textRight:right;

// *colors
// generic
$white:#fff;
$borderColor:#F2F5FA;

// text
$mainTextColor: #262b33;
$subTextColor:#666;
// bg
$blue:#2196f3;
$subBlue:#2E8AE6;
$green:#25b869;
$subGreen:#2ac572;
$red:#ff4758;
$skillColor:#e0e0e0;
// font
$font:'Quicksand',
Helvetica,
Arial,
sans-serif;

// other
$radius:3px;
$shadow:rgba(0, 9, 128, .05);