// *START JS
script(gs defer src="script/template.js")
script(gs defer src="script/main.js")
script(gs defer src="script/about.js")
script(gs defer src="script/experience.js")
script(gs defer src="script/education.js")
script(gs defer src="script/skills.js")
script(gs defer src="script/contact.js")
script(gs defer src="script/page.js")
script(gd defer src="script/app.min.js")
// *END JS
