// !START SEO
meta(name="description" content="Create professional resumes, CV online for free, in minutes. Simply fill out your details and generate beautiful PDF and HTML resumes!")
meta(name="author" content="Eissa Saber")
// START SHARE
// All Websites
meta(property="og:title" content="CV Builder")
meta(property="og:description" content="Create professional resumes, CV online for free, in minutes. Simply fill out your details and generate beautiful PDF and HTML resumes!")
meta(property="og:image" content="https://eissa.xyz/cv-builder/img/thumbnail.jpg")
meta(property="og:url" content="https://eissa.xyz/cv-builder")
meta(property="og:site_name" content="CV Builder")
meta(property="og:type" content="website")
// Twitter
meta(name="twitter:card" content="summary")
meta(name="twitter:title" content="CV Builder")
meta(name="twitter:description" content="Create professional resumes, CV online for free, in minutes. Simply fill out your details and generate beautiful PDF and HTML resumes!")
meta(name="twitter:image" content="https://eissa.xyz/cv-builder/img/thumbnail.jpg")
// END SHARE
link(href="https://eissa.xyz/cv-builder" rel="canonical")
meta(name="robots" content="index, follow")
// !END SEO
