header.no-print
    #headerCon
        nav#nav2
            //- logo2
            div#logo2
                a(href="index.html")
                    img(src="img/logo.svg", alt="logo") 
                    span CV Builder

            //- donation
            div#donate2
                a(href="https://www.paypal.me/eissapk", target="_blank") donate

        #getStartedCon
            h1 Build a professional CV in minutes for free. Simply fill out your details and generate beautiful HTML CV
            p use professional field-tested CV templates that follow the exact 'CV rules' that HR recruiter looks for. easy to use and done within minutes - try now for free!
            button(type="button", id="getStartedBtn") build my CV

    // start footer
    include ./footer
    // end footer